.exchange-controls-container {
  display: flex;
  justify-content: center;
}

.exchange-controls-section {
  width: 65%;
}

.exchange-controls-container h2 {
  display: flex;
  justify-content: flex-start;
}

.currency-controls-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.currency-controls-container .equal-sign-divider {
  padding: 10px 0;
}

.currency-controls-container .MuiSelect-select {
  padding: 10px;
}

.currency-controls-container .MuiButton-root {
  width: 7em;
  padding: 10px 16px;
}

.currency-controls-container .input-container .MuiOutlinedInput-root {
  padding: 10px 14px;
}